.slide-wrapper {
    height: 100%;
    min-height: 25rem;
    padding: 0 20px;
    background: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slide-wrapper img {
    display: block;
    height: 70%;
    border-radius: 10px;
    opacity: .3;
    transition: all .5s ease;
}

.selected .slide-wrapper img{
    opacity: 1;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, .3);
}

.selected:hover img{
    opacity: .3;
    box-shadow: none;
}

.selected > .slide-wrapper:hover .slide-modal {
    transform: scaleY(1);
}

.slide-modal {
    position: absolute;
    width: calc(100% - 4rem);
    height: 70%;
    top: 15%;
    left: 2rem;
    border-radius: 10px;
    background-image: linear-gradient(rgb(24, 24, 24, .3), rgb(24, 24, 24, .3));
    z-index: 2;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .5s ease;
    /* padding-top: 4.5rem;  */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.slide-modal__button {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    padding: 1rem 1.5rem;
    border-radius: 4px;
    background-color: #16a085;
    color: rgb(235, 241, 248);
    /* transform: translate(-50%,-50%); */
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: -1px;
    width: 70%;
    max-width: 13rem;
    margin-top: 3rem;
}

.SkillBox {
    display: inline-block;
    padding: 0 .5rem;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    margin: 2px;
    position: relative;
    will-change: transform;
    user-select: none;
    text-shadow: -1px -1px 0 #3f3f3f, -1px 0 0 #3f3f3f, -1px 1px 0 #3f3f3f, 0 -1px 0 #3f3f3f, 0 0 0 #3f3f3f, 0 1px 0 #3f3f3f, 1px -1px 0 #3f3f3f, 1px 0 0 #3f3f3f, 1px 1px 0 #3f3f3f;
}

/* Iphone X */
@media (max-width: 375px) {
    .slide-wrapper {
        padding: 0 1rem;
    }
}

/* Iphone 6/7/8 */
@media (max-width: 375px) and (max-height: 812px) {
    .slide-modal__button {
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
        width: 12rem;
        width: 70%;
    }
}

/* Iphone 5/SE */
@media (max-height: 568px) {
    .slide-modal__button {
        padding: 1rem;
        font-size: 1.2rem;
        width: 8rem;
        width: 70%;
    }
}

/* Tablets */
@media (min-width: 1023px) and (min-height: 1365px) {
    .slide-modal__button {
        padding: 1rem;
        font-size: 2.6rem;
        width: 100%;
        margin-top: 5rem;
    }

    .SkillBox {
        font-size: 2.5rem;
    }
}