.Footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    z-index: 100;
    margin-top: auto;
    align-self: center;
}

.svg {
    width: 3rem;
    height: 3rem;
    fill: rgb(79, 78, 77);
    transition: all .4s ease;
    margin: 0 .5rem;
}

.svg path {
    stroke: rgb(79, 78, 77);
    stroke-width: 10px;
}

.svg:hover {
    fill: rgb(153, 153, 153);
}

.svg:hover path {
    stroke: rgb(153, 153, 153);
    stroke-width: 5px;
}

.copyright {
    color: rgb(79, 78, 77);
    font-size: 1.2rem;
    flex-basis: 100%;
    text-align: center;
    margin-top: 1rem;
}