.App {
  width: 100vw;
  min-height: 100vh;
  background: rgb(24, 24, 24);
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url('./assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}