.App {
  width: 100vw;
  min-height: 100vh;
  background: rgb(24, 24, 24);
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url('https://66.media.tumblr.com/6b40144a4ef55605dbaca5850c395f92/tumblr_mrnjifu8Li1rsq9eyo1_500.gifv');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}