:root {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.6rem
}

/* Remove scroll bar */
body::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  color: rgb(153, 153, 153);
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
}

h3 {
  display: inline-block;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 3rem;
  position: relative;
  color: rgba(255, 250, 240, 0.767);
}

h3::after {
  display: block;
  position: absolute;
  content: "";
  width: 70%;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.3);
  left: 0;
  bottom: -1rem;
  
}

p {
  margin: 0;
  color: rgb(153, 153, 153);
  font-size: 2.3rem;
  font-weight: 400;
}

li {
  list-style: none;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.6rem;
  }
}

/* Iphone 5/SE */
@media (max-height: 568px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}

/* Tablets */
@media (min-width: 1023px) and (min-height: 1365px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  p {
    font-size: 2rem;
  }
}